<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Viewport meta tag added -->
    <meta name="description" content="Your site description goes here"> <!-- Description meta tag -->
    <meta name="author" content="Your Name"> <!-- Author meta tag -->
    <title>HBNB</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/scripts/2-hbnb.js"></script>
    <link rel="stylesheet" href="/static/styles/3-header.css">
</head>
<body>
    <header>
        <div id="api_status" class="available"></div>
        <!-- Additional header content -->
    </header>
    
    <!-- Main content -->
    <ul>
        {% for amenity in amenities %}
            <li>
                <input type="checkbox" id="{{ amenity.id }}" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}">
                {{ amenity.name }}
            </li>
        {% endfor %}
    </ul>
    
    <!-- Additional content -->
</body>
</html>


    
    
    