header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}

header div#api_status {
    width: 40px;
    height: 40px;
    background: #CCCCCC;
    position: absolute;
    top: 15px;
    right: 30px;
    border-radius: 50%;
}

header div#api_status.available {
  background: #ff545f;
}
