header {
    background: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
    width: 150px;
    height: 100%;
}
header #api_status {
    background-color: #cccccc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
}

header #api_status.available {
    background-color: #ff545f;
}