<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HBnB - Your go-to platform for finding the perfect place to stay.">
    <meta name="author" content="Your Name or Company">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/8-places.css">
    <link rel="icon" href="../static/images/icon.png">
    <title>HBnB</title>
</head>
<body>
    <!-- Content of the body -->
</body>
</html>

